**__pycache__**
clean_data.py
src/run*
src/build.ninja
src/build/
raw_data
data/annotations
data/filters_test
data/filters_train
data/step1
data/step2
data/step2_3
data/step4
data/annotated_data_balanced_clean_category.json
data/annotated_data_balanced_clean.json
data/annotated_set.json
data/val_set.json
src/caption_models/caption_baseline
src/caption_models/oracle_baseline_annotated
src/caption_models/question_only_baseline
src/caption_models/caption_baseline_annotated
src/caption_models/results
src/cross_modal_baselines/CREMA
src/cross_modal_baselines/KNN_CUDA
src/cross_modal_baselines/OneLLM
src/cross_modal_baselines/LAVIS
src/cross_modal_baselines/output_dir
src/cross_modal_baselines/results_annotation
src/cross_modal_baselines/results
src/cross_modal_baselines/results_validation_old
src/cross_modal_baselines/results_annotation_simple
src/ninja